// SECTION INFO :: START

section#info.info
  .info__box.info__box-0
    .info__box-left
      .info__box-top
        p.info__box-title!= "Serge Wilfried"
        p.info__box-subtitle!= "USA - Houston"
      .info__box-bottom
        p.info__box-mobile!= "mobile : +1-873-7096"

    .info__box-right
      .info__box-top
        .info__box-circle
          +iconSVG('team')
      .info__box-bottom
        .info__box-checked

  .info__box.info__box-1
    .info__box-left
      .info__box-top
        p.info__box-title!= "Serge Wilfried"
        p.info__box-subtitle!= "USA - Houston"
      .info__box-bottom
        p.info__box-mobile!= "mobile : +1-873-7096"

    .info__box-right
      .info__box-top
        .info__box-circle
          i.icon-png.chat
      .info__box-bottom
        .info__box-checked

  .info__box.info__box-0
    .info__box-left
      .info__box-top
        p.info__box-title!= "Serge Wilfried"
        p.info__box-subtitle!= "USA - Houston"
      .info__box-bottom
        p.info__box-mobile!= "mobile : +1-873-7096"

    .info__box-right
      .info__box-top
        .info__box-circle
          +iconSVG('team')
      .info__box-bottom
        .info__box-checked

  .info__box.info__box-2
    .info__box-left
      .info__box-top
        p.info__box-title!= "Serge Wilfried"
        p.info__box-subtitle!= "USA - Houston"
      .info__box-bottom
        p.info__box-mobile!= "mobile : +1-873-7096"

    .info__box-right
      .info__box-top
        .info__box-circle
          i.icon-png.square
      .info__box-bottom
        .info__box-checked

  .info__box.info__box-3
    .info__box-left
      .info__box-top
        p.info__box-title!= "Serge Wilfried"
        p.info__box-subtitle!= "USA - Houston"
      .info__box-bottom
        p.info__box-mobile!= "mobile : +1-873-7096"

    .info__box-right
      .info__box-top
        .info__box-circle
          i.icon-png.speaker
      .info__box-bottom
        .info__box-checked
          span!= "?"


// SECTION INFO :: END