// SECTION SIDEBAR :: START

section#sidebar.sidebar
  .sidebar__wrapper

    .sidebar__nav
      ul.sidebar__nav-list
        li.sidebar__nav-item
          a.sidebar__nav-link.is-active(href="#" class="" title="")!= "Home"

        li.sidebar__nav-item
          a.sidebar__nav-link(href="#" class="" title="")!= "Dashboard"

        li.sidebar__nav-item
          a.sidebar__nav-link(href="#" class="" title="")!= "History"

        li.sidebar__nav-item
          a.sidebar__nav-link(href="#" class="" title="")!= "Setting"

    .sidebar__info
      a.sidebar__info-btn(href="#" class="" title="")!= "Hide"

// SECTION SIDEBAR :: END